#intro-page{
  position: relative;
  margin: 0;
  padding: 0;
  background: #202124; /*radial-gradient( #0000, #27212C)*/
  height: 100vh
}

.intro-header{
  font-family: monospace;
  position: absolute;
  top: 38%;
  left: 20%;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  animation: 
  typing 3.5s steps(13, end),
  blink-caret .75s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  width: 13ch;
}

@keyframes typing {
  from { width: 0 }
  to { width: 13ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.intro-para{
  position: absolute;
  top: 51%;
  left: 20%;
  width:50vw;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.intro-button{
  position: absolute;
  top: 64%;
  left: 20%;
  text-decoration: none;
  color: white;
  background-color: rgb(121,92,178);
  padding:10px 7px;
  border-radius: 10px;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 white;
}

.intro-button:hover{
  position: absolute;
  top: 64%;
  left: 20%;
  text-decoration: none;
  color: rgb(121,92,178);
  background-color: white;
  padding:10px 7px;
  border-radius: 10px;
  box-shadow: inset 15vw 0 0 0 white;
}

.intro-button:active{
  position: absolute;
  top: 64%;
  left: 20%;
  text-decoration: none;
  color: white;
  background-color: rgb(121,92,178);
  padding:10px 7px;
  border-radius: 10px;
  box-shadow: inset 15vw 0 0 0 rgb(121,92,178);
}
