*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar{
  background-color: #15131C;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav-left{
  display: flex;
  position: fixed;
  left: 3vw;
  right: 0px;
}

.nav-right{
  display: flex;
  margin-right: 5vw;
  position: fixed;
  left: 54vw;
  right: 0px;
}

.nav-text{
  margin: 0;
  padding-left: 4vw;
  text-transform: uppercase;
  font-family: 'Rowdies';
}

.nav-text:hover{
  color: white;
  margin: 0;
  padding-left: 4vw;
}

.nav-text:active{
  color: #5b0082;
  margin: 0;
}

.nav-text1{
  margin: 0;
  font-family: 'Rowdies';
}

.nav-text1:hover{
  color: white;
  margin: 0;
}

.nav-text1:active{
  color: #5b0082;
  margin: 0;
}

