#projects{
  position: relative;
  margin: 0;
  padding: 0;
  background: #0C0404; /*radial-gradient( #0000, #27212C)*/
  height: 150vh;
}

.projects-header{
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
}

.projects{
  margin-top: 5vw;
  height: 60vh;
  width: 80vw;
}
.project1-header{
  font-size: 20px;
}

.project1-heading{
  font-size: 20px;
  position: absolute;
  top: 46vw;
  color: white;
}

.project1-para{
  font-size: 15px;
  position: absolute;
  top: 49vw;
  color: white;
}

.images{
  width: 42vw;
  height: 70vh;
  border-radius: 2vh;
  position: absolute;
  top: 12vw;
  object-fit: cover;
}